.footer {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f6fa;
  padding: 16px 20px;
  text-align: center;
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.1));
}
