@media screen and (max-width: 960px) {
  .container {

    width: 100%;
    .inner{
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
     width: 100%;
     margin: 0 auto;
     background-color: white;
     padding-bottom: 40px;
    }
  }
    }



@media screen and (min-width: 961px) {
.container {

  width: 100%;
  .inner{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
   width: 1280px;
   margin: 0 auto;

  }
}
  }
